* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.title {
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
}

.container {
    background-color: rgba(211, 211, 211, 0.3);
    width: 100%;
    height: 100vh;
}

.add-button {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    top: 45px;
    
}

.task-button {
    background-color: rgb(30, 144, 255);
    color: white;
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    padding-top: 13px;
    margin-left: 50px;
    border-radius: 5px;
}

.section-button {
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 13px;
    border: 1px solid lightgray;
    color: lightgray;
    border-radius: 5px;
}

.main-container {
    background-color: white;
    max-width: 900px;
    margin: auto;
    height: 79vh;
    position: relative;
    top: 48px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list {
    margin-left: 85px;
}

.list-name {
    font-size: 20px;
}

.editorial {
    display: inline-block;
    background-color: rgb(30, 144, 255);
    color: white;
    width: 80px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 11px;

}

.q1 {
    display: inline-block;
    background-color: rgb(147, 112, 219);
    color: white;
    width: 80px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 11px;
}

.recruiting {
    display: inline-block;
    background-color: rgb(102, 205, 170);
    color: white;
    width: 80px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 11px;
}

.website {
    display: inline-block;
    background-color: rgb(255, 105, 180);
    color: white;
    width: 80px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 11px;
}

.sales {
    display: inline-block;
    background-color: rgb(154, 205, 50);
    color: white;
    width: 80px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 11px;
}